[Unit]
Description=Server Service
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/wireguard-up/server
ExecStart=uvicorn main:app --host 0.0.0.0 --port 8080

[Install]
WantedBy=multi-user.target  
